@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap');

.Form-Container {
  margin: 2rem 7rem;
}

.Form-Title {
  display: block;
  padding: 20px 0;
  font-family: Montserrat, serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.18px;
  color: #888;
}

#form {
  display: flex;
  grid-gap: 32px;
  gap: 32px;
}

.TextInput {
  flex: 2;
}

.TextInput::placeholder {
  color: #e8e8e8;
}

.Form-Box {
  border-radius: 4px;
  background-color: #fff;
  font-size: 1rem;
  border: 1px solid #e8e8e8;
  padding: 10px;
  letter-spacing: -0.15px;
  color: #121212;
}

.Select-Input {
  flex: 1;
}

.AddBook-Btn {
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 0 50px;
}
