@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap');

.Info-Box {
  flex: 3;
}

.Display-Block {
  display: block;
}

.Family-Roboto {
  font-family: 'Roboto Slab', serif;
}

.Cat-Info {
  font-family: Montserrat, serif;
  padding: 2.5px 10px;
  font-size: 0.975rem;
  color: #121212;
  opacity: 0.5;
  font-weight: bold;
}

.Tit-Info {
  padding: 2.5px 10px;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.Auth-Info {
  padding: 2.5px 10px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}
